.index__header{
    width:400px;
    background-color: #FBF9D0;
    height: 150px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.index__header h1{
    font-size: 80px;
    font-weight: 700;
    border-bottom: 5px solid #7DCE14;
}

.index__main__list{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    margin: 20px;
}

.index__main__list li {
    width: 300px;
    margin: 20px 0;
    border: 5px solid #7DCE14;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #FBF9D0;
}


